
 body{
    margin:0;
    padding-top: 80px;
    background-color: rgb(248,248,248);
    
 }
.large-container {
   
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    column-gap: 90px;
    row-gap: 40px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width:100vw;
}


.video-preview {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb {
    width: 300px;
    display: block;
}

.search-bar {

    display: block;
}


#video-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;
}

.small-container {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.logo1 {

    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
}

#video-author {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview2 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;


}

.thumb2 {
    display: block;
    width: 300px;

}

#video-title2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;

}

.logo2 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats2 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: -18px;
}

#video-author2 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview3 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;


}

.thumb3 {
    width: 300px;
    display: block;
}


#video-title3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}


.logo3 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats3 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: -4px;
}

#video-author3 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}


.video-preview4 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb4 {
    display: block;
    width: 300px;
}


#video-title4 {
    margin-top: 13px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}

.logo4 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats4 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author4 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview5 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb5 {
    display: block;
    width: 300px;
}


#video-title5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}


.logo5 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats5 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author5 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview6 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb6 {
    display: block;
    width: 300px;
}


#video-title6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}



.logo6 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats6 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author6 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}


.video-preview7 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}


.thumb7 {
    display: block;
    width: 300px;
}


#video-title7 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}


.logo7 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats7 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author7 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview8 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb8 {
    display: block;
    width: 300px;
}


#video-title8 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}

.logo8 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats8 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author8 {
    font-size: 16px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}


.video-preview9 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb9 {
    display: block;
    width: 300px;
}


#video-title9 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;

}



.logo9 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats9 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author9 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}


.video-preview10 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb10 {
    display: block;
    width: 300px;
}


#video-title10 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}



.logo10 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats10 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author10 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview11 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb11 {
    display: block;
    width: 300px;
}


#video-title11 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}



.logo11 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats11 {
    font-size: 18px;
    color: rgb(96, 96, 96);
    margin-top: 17px;
}

#video-author11 {
    font-size: 17px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.video-preview12 {
    border: 2px solid red;
    width: 300px;
    display: inline-block;

}

.thumb12 {
    display: block;
    width: 300px;
}


#video-title12 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 10px;


}

.logo12 {
    margin-top: 11px;
    width: 40px;
    border-radius: 50px;
}

#video-stats12 {
    margin-top: 18px;
    font-size: 17px;
    color: rgb(96, 96, 96);
}

#video-author12 {
    font-size: 16px;
    color: rgb(96, 96, 96);
    line-height: 0px;
}

.thumb-row{
    margin-bottom:12px;
    position:relative;
}

.time{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding:5px;
    border-radius: 2px;
    background-color: black;
    color:white;
    position: absolute;
    margin-right: 4px;
    margin-bottom: 4px;
    bottom:0;
    right:0;
   
}


@media (max-width: 900px) {
    .large-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .large-container {
      grid-template-columns: 1fr; 
    }
  }
  

   
      
    

  